html, body {
  height: 100%;
  padding: 12pt;
}

.content a,h1,h2,h3,h4 {
  /* Taken from http://stackoverflow.com/a/5241448/172690 to word wrap */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -21pt; /* the bottom margin is the negative value of the footer's height */
}

div#header {
  background-color: #3d3d3d;
  color: #ffffff;
  padding-top: 3pt;
  padding-bottom: 3pt;
}

div#header span#welcome {
  float: right;
  padding: 0;
  padding-right: 7pt;
}
div#header img {
  float: right;
  margin-top: -2pt;
  padding-right: 7pt;
}

div#header span, #nimbtn span {
  margin: 0;
  padding: 5pt;
}

div#header a.right, #nimbtn a {
  float: right;

  color: #ffffff;
  margin-right: 6pt;
}

div#header a {
  color: #ffffff;
}

div#header a:visited, #nimbtn a:visited {
  color: #ffffff;
}

div#header a:hover, #nimbtn a:hover {
  text-decoration: none;
}

#nimbtn a {
  margin-left: 6pt;
}

#nimbtn {
  float: left;
  background-color: #2a2a2a;
  color: #ffffff;
  padding-top: 3pt;
  padding-bottom: 3pt;
}

span#rss {
  margin: 5pt;
  font-size: 9pt;
}

img.rssfeed {
  width: 1em;
  height: 1em;
  padding-right:3pt;
  margin-top:-1pt;

}

#footerPush {
  height: 24pt;
}

#footer {
  background-color: #5D5D5D;
  background: -moz-linear-gradient(top, #5D5D5D, #4D4D4D);
  background: -webkit-linear-gradient(top, #5D5D5D, #4d4d4d);
  background: -o-linear-gradient(top, #5D5D5D, #4d4d4d);
  color: #ffffff;

  padding-top: 1.5pt;
  padding-bottom: 1.5pt;
  padding-left: 5px;
  padding-right: 5px;
  height: 18pt;
}

#footer a:link, #footer a:visited {
  color: #ffffff;
}

#footer a:hover {
  text-decoration: none;
}

#topbar {
  margin: 5pt;
}

div#topbar span#rss {
  float: right;
  padding: 0;
  padding-right: 7pt;
}

div#replywrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: #4d4d4d solid 2px;
}

div#replywrapper div#replytop {
  background-color: #5D5D5D;
  background: -moz-linear-gradient(top, #5D5D5D, #4D4D4D);
  background: -webkit-linear-gradient(top, #5D5D5D, #4d4d4d);
  background: -o-linear-gradient(top, #5D5D5D, #4d4d4d);
  font-size: 9pt;
  color: #ffffff;
  padding: 5pt;

}

div#replywrapper form textarea {
  width: 99%;
}

div#replywrapper form > input:first-child {
  width: 80%;
}

div#replywrapper form {
  padding: 8pt;
}

div#pagenumbers {
  font-size: 11pt;
  height: 21px;
  margin: 5.9pt;
  padding: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  border-top: 1px solid #9d9d9d;
  border-bottom: 1px solid #9d9d9d;
  background-color: #eee;
}

div#pagenumbers div.left {
  float: left;
}

div#pagenumbers div.middle {
  text-align: center;
}

div#pagenumbers div.middle a, div#pagenumbers div.middle span {
  padding-right: 4pt;
}

div#pagenumbers div.middle span {
  font-weight: bold;
}

div#pagenumbers div.left span, div#pagenumbers div.left a {
  padding-right: 8pt;
}

div#pagenumbers div.right span, div#pagenumbers div.right a {
  padding-left: 8pt;
}


div#pagenumbers div.right {
  float: right;
}

/* For RST nimrod syntax highlighter */
span.DecNumber {color: blue}
span.BinNumber {color: blue}
span.HexNumber {color: blue}
span.OctNumber {color: blue}
span.FloatNumber {color: blue}
span.Identifier  {color: black}
span.Keyword {font-weight: bold}
span.StringLit {color: blue}
span.LongStringLit {color: blue}
span.CharLit {color: blue}
span.EscapeSequence {color: black}
span.Operator {color: black}
span.Punctation {color: black}
span.Comment, span.LongComment {font-style:italic; color: green}
span.RegularExpression  {color: DarkViolet}
span.TagStart {color: DarkViolet}
span.TagEnd {color: DarkViolet}
span.Key  {color: blue}
span.Value  {color: black}
span.RawData {color: blue}
span.Assembler  {color: blue}
span.Preprocessor {color: DarkViolet}
span.Directive  {color: DarkViolet}
span.Command, span.Rule, span.Hyperlink, span.Label, span.Reference,
span.Other  {color: black}

/* Buttons */
a.button {
  border-radius: 2px 2px 2px 2px;
  background: -moz-linear-gradient(top, #f7f7f7, #ebebeb);
  background: -webkit-linear-gradient(top, #f7f7f7, #ebebeb);
  background: -o-linear-gradient(top, #f7f7f7, #ebebeb);
  text-decoration: none;
  color: #3d3d3d;
  padding: 5px;
  border: solid 1px #9d9d9d;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: small;
}

a.button.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

a.button.middle {
  border-radius: 0;
  border-left: 0;
}

a.button.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

a.button:hover {
  background: -moz-linear-gradient(top, #0099c7, #0294C1);
  background: -webkit-linear-gradient(top, #0099c7, #0294C1);
  background: -o-linear-gradient(top, #0099c7, #0294C1);
  border: solid 1px #077A9C;
  color: #ffffff;
}
