*.aspell
*.bak
*.mode1v3
*.mode2v3
*.nib
*.pbxuser
*.perspective
*.perspectivev3
*.swp
.DS_Store

/pelican/output/
/pelican/pelican.pid
/pelican/pelicanconf.pyc
/pelican/publishconf.pyc
/pelican/srv.pid
/src/manual/how_to_release_software_periodically.pdf
/src/output/
